body {
    background-color: lightblue;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color:red;
    width:60px;
    display:inline;
}

li a {
    display: inline;
}
